/* Styling for the Login component */

/* Body or Container */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
  }
  
  /* Form */
  form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  /* Form Title */
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Form Input Fields */
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    /* existing styles */
    background-color: #fff;
    color: #0056b3;
  }
  
 